@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.flex-gap-1 {
    gap: 1%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

[class='font-size-1.2em'] {
    font-size: 1.2em;
}

.bg-white-transparent {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.navbar-brand {
    font-size: 2.5em;
    color: aliceblue;
}

.nav-item > a {
    font-size: 2em;
    color: aliceblue;
}

.columns textarea {
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    border-radius: 3px;
    resize: none;
    outline: none;
    border: none;
    height: auto;
    padding: 0;
    margin: 0;
}

.columns textarea:focus {
    background-color: white;
    outline: 3px rgb(20, 20, 150) solid;
}

.columns button {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    padding: 0.5em;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
}

.columns button:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
}
