@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.flex-gap-1 {
    gap: 1%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

[class='font-size-1.2em'] {
    font-size: 1.2em;
}

.bg-white-transparent {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.navbar-brand {
    font-size: 2.5em;
    color: aliceblue;
}

.nav-item > a {
    font-size: 2em;
    color: aliceblue;
}

.columns textarea {
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    border-radius: 3px;
    resize: none;
    outline: none;
    border: none;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    transition: boxshadow 0.5s;
}

.columns textarea:focus {
    background-color: white;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.columns button {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    padding: 0.5em;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
}

.columns button:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.form-group textarea:focus {
    outline: none;
    border: none;
}

.item {
    box-shadow: 1px 1px 2px hsla(0, 100%, 0%, 0.5) !important;
}
