@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html {
    overflow-x: hidden;
}

.flex-gap-1 {
    gap: 1%;
}

:root {
    --primary-color-light: #0c2249;
}
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: darkgrey transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 66%, 0.2);
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 66%, 0.6);
}

*::-webkit-scrollbar-thumb:active {
    background-color: hsl(0, 0%, 46%);
}

body {
    width: 100%;
    background-color: var(--primary-color-light);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

[class='font-size-1.2em'] {
    font-size: 1.2em;
}

main {
    flex-grow: 1;
}

.bg-white-transparent {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.columns textarea,
.add-column textarea,
.sidebar textarea {
    user-select: auto;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    border-radius: 3px;
    resize: none;
    outline: none;
    border: none;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    transition: boxshadow 0.5s;
}

.columns textarea:focus,
.add-column textarea:focus,
.sidebar textarea:focus {
    background-color: white;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.columns > button,
.add-column button,
.main > button,
.form-group > button,
.transparent-btn {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    padding: 0.25em;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
}

.columns > button:hover,
.add-column button:hover,
.form-group > button:hover,
.sidebar > button:hover,
.transparent-btn:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.add-column {
    min-width: 300px;
    flex-shrink: 0;
}

.form-group textarea:focus {
    outline: none;
    border: none;
}

.form-control {
    user-select: auto;
    -webkit-user-select: auto;
}
