@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.flex-gap-1 {
    gap: 1%;
}

:root {
    --primary-color-light: #0c2249;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color-light);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

[class='font-size-1.2em'] {
    font-size: 1.2em;
}

main {
    height: calc(100vh - 80px);
}

.bg-white-transparent {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.navbar {
    height: 80px;
}

.navbar-brand {
    font-size: 2.5em;
    color: aliceblue;
}

.nav-item > a {
    font-size: 2em;
    color: aliceblue;
}

.columns textarea,
.add-column textarea {
    user-select: auto;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    border-radius: 3px;
    resize: none;
    outline: none;
    border: none;
    height: auto;
    padding: 5px;
    margin: 0;
    width: 100%;
    transition: boxshadow 0.5s;
}

.columns textarea:focus,
.add-column textarea:focus {
    background-color: white;
    box-shadow: inset 0 0 0 2px #0079bf;
}

.columns button,
.add-column button,
.main button {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    padding: 0.5em;
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
}

.columns button:hover,
.add-column button:hover {
    background-color: hsl(0, 0%, 100%, 0.3);
}

.add-column {
    min-width: 300px;
    flex-shrink: 0;
}

.form-group textarea:focus {
    outline: none;
    border: none;
}

.item {
    box-shadow: 1px 1px 2px hsla(0, 100%, 0%, 0.5) !important;
}

.sidebar {
    left: 0;
    top: 0;
    padding: 20px;
    padding-top: 40px;
    min-width: 250px;
    background-color: darkgrey;
    height: 100%;
    transform: translateX(-250px);
    transition: transform 0.1s ease-in-out;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid grey;
    padding: 5px;
    transition: 0.5s;
}

.sidebar li:hover {
    background-color: antiquewhite;
}

.sidebar button {
    width: 100%;
    background-color: transparent;
    border: none;
}

.form {
    background-color: aliceblue;
    padding: 50px;
    border-radius: 1em;
}
