.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-card {
    margin: 8px;
    background-color: lightgrey;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.column-edit {
    display: flex;
}

.more-option {
    align-self: flex-start;
    cursor: pointer;
}

.options {
    list-style-type: none;
    position: absolute;
    left: 90%;
    top: 3em;
    z-index: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 50%;
}

.options > p {
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid lightgrey;
    padding: 0;
    margin: 0;
    text-align: center;
}

.options > li > button {
    text-align: start;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 5px;
}

.options > li > button:hover {
    background-color: hsl(0, 0%, 90%);
}
