.main {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    overflow: auto;
    min-width: 80vw;
}

.loading-icon {
    position: absolute;
    top: 25%;
    left: 45%;
    animation: loading 0.5s linear infinite,
        loading-color 5s linear infinite alternate;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
        color: white;
    }
    to {
        transform: rotate(360deg);
        color: blue;
    }
}

@keyframes loading-color {
    0% {
        color: rgb(37, 32, 32);
    }
    25% {
        color: rgb(140, 140, 255);
    }
    50% {
        color: rgb(140, 255, 211);
    }
    75% {
        color: rgb(238, 255, 140);
    }
    100% {
        color: rgb(219, 140, 255);
    }
}
