.navbar {
    height: 80px;
    align-items: flex-start;
}

.navbar > h1 {
    font-size: 3.5em;
    color: aliceblue;
    font-family: 'Bree Serif', serif;
    padding-right: 2em;
}

.nav-item > a {
    font-size: 1.5em;
    color: aliceblue;
}

.profile-icon {
    font-size: 1.5em;
    line-height: 2em;
    color: aliceblue;
    height: 2em;
    width: 2em;
    background-color: blueviolet;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-nav {
    height: 100%;
    align-items: flex-end;
}
