.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
}

.modal-container {
    width: 75%;
    height: 75%;
    max-width: 400px;
    max-height: 600px;
    background-color: aliceblue;
    top: calc(50vh - 300px);
    left: calc(50vw - 200px);
    position: fixed;
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 500px) {
    .modal-container {
        left: calc(12.5%);
    }
}

@media (max-height: 800px) {
    .modal-container {
        top: calc(12.5%);
    }
}
